{% extends 'base.html' %}
{% load static %}
{% block slogan %}
    <form method="post">
        {% csrf_token %}
        <div id="user">
            {% if form.errors %}<h3>{{ form.errors }}</h3>{% endif %}
            <h2>Przypomnij hasło</h2>
            <h3>Zapomniałeś hasła? Wprowadź swój adres email prześlemy Ci instrukcję jak wybrać nowe hasło do Twojego
                konta</h3>
            <div class="slogan--steps-title">
                {{ form.email.label }}: {{ form.email }}<br>
                <br>
                <h3><input type="submit" value="Zapisz" class="btn"></h3>
            </div>
        </div>
    </form>
{% endblock %}
{% block 4steps %}
{% endblock %}