{% extends 'base.html' %}
{% load static %}
{% block slogan %}
    <form method="post">
        {% csrf_token %}
        <div id="user">
            {% if form.errors %}<h3>{{ form.errors }}</h3>{% endif %}
            <h2>Przypomnij hasło - reset hasła</h2>
            <div class="slogan--steps-title">
                Nowe hasło: {{ form.new_password1 }}<br>
                Powtórz hasło: {{ form.new_password2 }}<br>
                <br>
                <input type="submit" value="Zapisz" class="btn">
            </div>
        </div>
    </form>
{% endblock %}
{% block 4steps %}
{% endblock %}