{% extends 'base.html' %}
{% load static %}
{% block slogan %}
    <form method="post">
        {% csrf_token %}
        <div id="user">
            {% if error_message %}<h2>{{ error_message }}</h2>{% endif %}
            <h2>Edycja konta {{ user.username }}</h2>
            <div class="slogan--steps-title">
                <ul>
                    <li><label>Wprowadź swoje hasło:
                        <input type="password" placeholder="Wprowadź swoje hasło" name="password">
                    </label></li>
                    <li><label>Wprowadź nowe hasło:
                        <input type="password" placeholder="Wprowadź nowe hasło" name="password_new">
                    </label></li>
                    <li><label>Powtórz nowe hasło:
                        <input type="password" placeholder="Powtórz nowe hasło" name="password_new2">
                    </label></li>
                    <br>
                    <input type="submit" value="Zapisz" class="btn">
                </ul>
            </div>
        </div>
    </form>
{% endblock %}
{% block 4steps %}
{% endblock %}