{% extends 'base.html' %}
{% load static %}
{% block slogan %}
    <form method="post">
        {% csrf_token %}
        <div id="user">
            {% if error_message %}<h2>{{ error_message }}</h2>{% endif %}
            <h2>Edycja konta {{ user.username }}</h2>
            <div class="slogan--steps-title">
                <ul>
                    Imię:
                    <input type="text" placeholder="Wprowadź swoje imię" value="{{ user.first_name }}"
                           name="first_name"><br>
                    Nazwisko:
                    <input type="text" placeholder="Wprowadź swoje nazwisko" value="{{ user.last_name }}"
                           name="last_name"><br>
                    Adres mailowy:
                    <input type="email" placeholder="Wprowadź swój adres mailowy" value="{{ user.email }}"
                           name="email"><br>
                    Wprowadź hasło:
                    <input type="password" placeholder="Wprowadź swoje hasło" name="password"><br>
                    <br>
                    <input type="submit" value="Zapisz" class="btn">
                </ul>
            </div>
        </div>
    </form>
{% endblock %}
{% block 4steps %}
{% endblock %}
