{% extends 'base.html' %}
{% load static %}
{% block slogan %}
    <form method="post">
        {% csrf_token %}
        <div id="user">
            {% if error_message %}<h2>{{ error_message }}</h2>{% endif %}
            <h2>Przypomnij hasło</h2>
            <h3>Zapomniałeś hasła? Wprowadź swój adres email prześlemy Ci instrukcję jak wybrać nowe hasło do Twojego
                konta</h3>
            <div class="slogan--steps-title">
                <ul>
                    <li>{{ form }}</li>
                    <br>
                    <input type="submit" value="Zapisz" class="btn">
                </ul>
            </div>
        </div>
    </form>
{% endblock %}
{% block 4steps %}
{% endblock %}